<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FBC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FBC.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a21db75261.js" crossorigin="anonymous"></script>
    @RenderSection("Stylesheets", required: false)
    <style>
        .header-nav {
            display: contents;
            list-style: none;
            text-align: center;
        }

            .header-nav a {
                color: black;
                text-decoration: none;
                padding: 0px 10px;
            }
    </style>
</head>
<body>
    <header style="font-family:roboto;font-weight:bold">
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <ul class="header-nav">
                    <li class="col-md-3">
                        <a href="/"><img src="~/asset/image/logo.png" height="50px" /></a>
                    </li>
                    <li class="col-md-6">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            Browse
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                        <a href="facebook.com">Contact us</a>
                    </li>
                    <li class="col-md-3">

                        <i class="fa-regular fa-user"></i> &nbsp;
                        @if(Context.User.Identity.IsAuthenticated)
                        {
                            <a>@User.Identity.Name</a>
                        }
                        <i class="fas fa-shopping-cart"></i> &nbsp;
                        0 BookCoin
                    </li>
                </ul>
            </div>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
            }
        </nav>
    </header>

    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FBC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
