@model FBC.ViewModels.CartModel

<div>
    <a class="ps-0 pe-0" href="/Cart">
        <i class="fas fa-shopping-cart" style="height: 100%;"></i>
    </a>
</div>
<div>
    <a asp-controller="Wallet" asp-action="Index">@ViewData["Credit"] BookCoin</a>
</div>
